<!-- =============== START HOME-SHOP SECTION ================ -->
<section class="shopHomePage shopHomePadding hide-section">
    <div class="shopSection">
        <div class="container-fluid">
            <div class="shopContent">
                <div class="sectionTitle paddingBottom">
                    <span class="heading-t3"></span>
                    <h2><a routerLink="/details/Products">Instruments</a></h2>
                    <span class="heading-b3"></span>
                </div><!-- end sectionTtile -->
                <div class="container">
                    <div class="row">
                        <nav>
                            <ul class="clearfix">
                                <li class="col-sm-4 col-xs-12 " style="margin-left:{{offset}}%;"
                                    *ngFor="let product of data">
                                    <a [routerLink]="'/details/single-product/' + product.Id">
                                        <figure>
                                            <figcaption>
                                                <img [src]="baseURL + product.Photo" alt="">
                                            </figcaption>
                                            <div class="content">
                                                <div class="shopHover">

                                                </div>
                                            </div>
                                        </figure>
                                        <div class="price">
                                            {{product.Price | currency}}
                                        </div>
                                        <h3>{{product.Title}}</h3>
                                    </a>
                                </li>
                            </ul>
                        </nav><!-- end shop-products -->
                    </div><!-- end row -->
                </div>
            </div><!-- end shopContent -->
        </div>
    </div>
</section>
<!-- =============== END HOME-SHOP SECTION ================ -->