<!-- =============== START HOME-SHOP SECTION ================ -->
<section class="shopHomePage hide-section products">
    <div class="colored-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sectionTitle">
                        <h1>Instruments</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shopSection">
        <div class="container-fluid">
            <div class="shopContent">
                <div class="container">
                    <div class="row">
                        <nav>
                            <ul class="clearfix">
                                <li class="col-sm-4 col-xs-12 " [style.marginLeft.%]="offset"
                                    *ngFor="let product of data">
                                    <a class="product" [routerLink]="'/details/single-product/' + product.Id">
                                        <figure>
                                            <figcaption>
                                                <img [src]="baseURL + product.Photo" alt="">
                                            </figcaption>
                                            <div class="content">
                                                <div class="shopHover">

                                                </div>
                                            </div>
                                        </figure>
                                        <!-- <div class="price">
                                            {{product.Price | currency}}
                                        </div> -->
                                        <h3 class="title">{{product.Title}}</h3>
                                    </a>
                                </li>
                            </ul>
                        </nav><!-- end shop-products -->
                    </div><!-- end row -->
                </div>
            </div><!-- end shopContent -->
        </div>
    </div>
    <h2 class="view-all"><a routerLink="/details/Events">View All</a></h2>
    <hr style="color: aliceblue;margin-top: 0;margin-bottom: 0;">
</section>
<!-- =============== END HOME-SHOP SECTION ================ -->