<!-- =============== START HOME-SHOP SECTION ================ -->
<section class="shopHomePage hide-section">
    <div class="shopSection">
        <div class="container-fluid">
            <div class="shopContent">
                <div class="sectionTitle">
                    <!-- <hr style="color: aliceblue; width: 600%; margin-left: -100%;"> -->
                    <h1>Learn To Play Handpan</h1>
                    <hr style="color: aliceblue; width: 600%; margin-left: -100%;">
                </div><!-- end sectionTtile -->
                <div class="container">
                    <div class="row" *ngFor="let course of data">
                        <div class="col-xs-6 col-md-8">
                            <!-- <a [routerLink]="'/details/single-course/' + course.Id"> -->
                            <img [src]="baseURL + course.Photo" alt="">
                            <a [routerLink]="'/details/single-course/' + course.Id" class="btn next-lesson">Play
                                Demo</a>
                            <!-- </a> -->
                        </div>
                        <div class="col-xs-6 col-md-4 course-details">
                            <div class="proTitle">
                                <h1>
                                    {{course.Title}}
                                </h1>
                            </div>
                            <p>
                                {{course.Brief}}
                            </p>
                            <a [routerLink]="'/details/single-course/' + course.Id" class="btn btn-details">View
                                Details</a>
                        </div>
                        <!-- <nav>
                            <ul class="clearfix">
                                <li class="col-sm-4 col-xs-12 " [style]="{'margin-left':offset+'%'}"
                                    *ngFor="let course of data">
                                    <figure>

                                       
                                    </figure>
                                </li>
                            </ul>
                        </nav> -->
                    </div><!-- end row -->
                </div>
            </div><!-- end shopContent -->
        </div>
    </div>
    <hr style="color: aliceblue;margin-top: 0;margin-bottom: 0;">
    <h2 class="view-all"><a routerLink="/details/Courses">View All</a></h2>
    <hr style="color: aliceblue;margin-top: 0;margin-bottom: 0;">
</section>
<!-- =============== END HOME-SHOP SECTION ================ -->