<section class="main-content">
    <div class="bread-crumb">
        <div class="container">
            <div class="row">
                <a routerLink="/details/Events">Events</a>&nbsp;&nbsp;&nbsp;
                <span class="fa fa-arrow-right"></span>&nbsp;&nbsp;&nbsp;
                {{data.Title}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-img col-12">
            <img [src]="baseURL + data.Photo" controls style="width: 100%;" />
        </div>
        <div class="event-title">
            <h2>{{data.Title}}</h2>
            <p>{{data.Description}}</p>
        </div>
        <div class="when">
            <h3>When:</h3>
            <p>{{ data.Date | date: 'MMM d, y - h:mm:ss a z' }}</p>
        </div>
        <div class="where">
            <h3>Where:</h3>
            <p>{{ data.Location }}</p>
        </div>


        <div class="moments" *ngIf="data?.Photos?.length > 0">
            <h2>Moments</h2>
            <div class="row">
                <div class="col-12">
                    <div class="slider">
                        <span *ngFor="let img of data?.Photos; index as i">
                            <i class="slider-nav" [ngClass]="currentPhotoIndex == i ? 'slider-nav-active' : ''" (click)="setCurrentPhoto(i)">{{i+1}}</i>&nbsp;
                        </span>
                        <div class="slides" *ngFor="let img of data?.Photos; index as i">
                            <div id="slide-{{i+1}}" [ngClass]="currentPhotoIndex == i ? 'img-active' : 'not-active'">
                                <img class="slider-img" alt="" [src]="baseURL + img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div class="row">
            <div class="col-12">
                <div class="owl-theme owl-loaded" *ngIf="currentPhoto">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 100%;">
                            <div class="owl-item active" style="width: 100%; margin-right: 0px;">
                                <div id="owl-item" class="owl-item">
                                    <img alt="" [src]="baseURL + currentPhoto">
                                </div>
                            </div>
                        </div></div>
                   <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev" (click)="prevPhoto()"><i class="fa fa-chevron-left"></i></div>
                            <div class="owl-next" (click)="nextPhoto()"><i class="fa fa-chevron-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</section>

<!-- <div class="singleEvent padding background-properties"
    style="background-image: url(assets/img/events/home-events-1.jpg);">
    <div class="container">
        <div class="sectionTitle paddingBottom">
            <span class="heading-t3"></span>
            <h2>{{data.Title}}</h2>
            <span class="heading-b3"></span>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="owl-theme owl-loaded" *ngIf="currentPhoto">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 750px;">
                            <div class="owl-item active" style="width: 750px; margin-right: 0px;">
                                <div id="owl-item" class="owl-item">
                                    <img alt="" [src]="baseURL + currentPhoto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev" (click)="prevPhoto()"><i class="fa fa-chevron-left"></i></div>
                            <div class="owl-next" (click)="nextPhoto()"><i class="fa fa-chevron-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="descriptionEvent">
                    <p>{{data.Description}}</p>
                </div>
                <div class="coverEvent">
                    <img [src]="baseURL + data.Photo" alt="">
                </div>
                <div class="ticket">
                </div>
                <div class="author-info" *ngIf="currentVideo">
                    <div class="owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 750px;">
                                <div class="owl-item active" style="width: 750px; margin-right: 0px;">
                                    <div id="owl-item" class="owl-item">
                                        <video [src]="baseURL + currentVideo" controls="true"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-controls">
                            <div class="owl-nav">
                                <div class="owl-prev" (click)="prevVideo()"><i class="fa fa-chevron-left"></i></div>
                                <div class="owl-next" (click)="nextVideo()"><i class="fa fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebarAlbum">
                    <div class="widget">
                        <h3>Details</h3>
                        <ul>
                            <li>Date:<span>{{data.Date | date}} </span></li>
                            <li>Location:<span>{{data.Location}} </span></li>
                            <li>Venue:<span>{{data.Venue}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->