<p-toast></p-toast>
<section class="contactSingle padding background-properties" id="content"
    style="background-image:url(assets/img/subHeader/header.png);">
    <div class="container">
        <div class="row" style="min-height: 63vh;">
            <div class="col-sm-4">
                <div class="contactTop">
                    <h2>Welcome To Anas handPan</h2>
                    <h4>Please fill the form</h4>
                    <p>To reset your password
                    </p>
                </div>
            </div><!-- end col-sm-4 -->
            <div class="col-sm-7 col-sm-offset-1">
                <div class="singleBlogForm">
                    <h2>Reset Password</h2>
                    <p-messages></p-messages>
                    <form class="comment-form" (ngSubmit)="resetPass()">
                        <input id="ForgetPasswordCode" name="ForgetPasswordCode" type="text" aria-required="true"
                            required placeholder="ForgetPasswordCode *" [(ngModel)]="data.ForgetPasswordCode"
                            #ForgetPasswordCode="ngModel" minlength="4">
                        <input id="NewPassword" name="NewPassword" type="password" aria-required="true" required
                            placeholder="New Password *" [(ngModel)]="data.NewPassword" #NewPassword="ngModel">
                        <input id="ConfirmPassword" name="ConfirmPassword" type="password" aria-required="true" required
                            placeholder="Confirm Password *" [(ngModel)]="data.ConfirmPassword"
                            #ConfirmPassword="ngModel">
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" value="Submit">
                        </p>
                        <a (click)="resendCode()">Resend Code?</a>
                    </form>
                </div><!-- end contactForm -->
            </div><!-- end col-sm-7 col-sm-offset-1 -->
        </div>
    </div><!-- end container -->
</section>