<p-toast></p-toast>
<section class="contactSingle padding background-properties" id="content"
    style="background-image:url(assets/img/subHeader/header.png);">
    <div class="container">
        <div class="row" style="min-height: 63vh;">
            <div class="col-sm-4">
                <div class="contactTop">
                    <h2>Welcome To Anas handPan</h2>
                    <h4>Are you sure</h4>
                    <p>you want to logout?</p>
                    
                    
                </div>
            </div><!-- end col-sm-4 -->
            <div class="col-sm-7 col-sm-offset-1">
                <div class="singleBlogForm">
                    <h2>LOG-OUT?</h2>
                    <button (click)="logout()" mat-raised-button class="btn bt-warning">
                        LOG-OUT
                    </button>
                    <button (click)="cancel()" mat-raised-button class="btn bt-secondary">
                        Cancel
                    </button>
                </div><!-- end contactForm -->
            </div><!-- end col-sm-7 col-sm-offset-1 -->
        </div>
    </div><!-- end container -->
</section>