<!-- =============== START TOP HEADER ================ -->
<!-- <div class="topHeader">
    <div class="header">
        <div class="rightTopHeader">
            <div class="cartContainer">
                <div class="cartParent" id="cartParent">
                    <div class="cartItems">
                        <ul>
                            <li>
                                <div class="priceCart">
                                    <h4 style="color: black;">Logout, Are You sure?</h4>
                                </div>
                            </li>
                        </ul>
                        <button type="submit" class="single_add_to_cart_button button alt buttonView"
                            (click)="logout()">
                            Logout
                        </button>
                        <button type="submit" class="single_add_to_cart_button button alt buttonCheck"
                            (click)="cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
            <a #openMenu (click)='menuClicked()' id="open-menu" class="open-menu">
                <span class="span-1"></span>
                <span class="span-2"></span>
                <span class="span-3"></span>
            </a>
        </div>
    </div>
    <div class="menu-fixed-container" id="menu-fixed-container">
        <nav>
            <div class="x-filter" (click)="xClicked()">
                <span></span>
                <span></span>
            </div>
            <ul *ngIf="ready">
                <li *ngIf="isAdmin">
                    <a routerLink="/dashboard">
                        Admin Dashboard
                    </a>
                </li>
                <li>
                    <a routerLink="/home">
                        Home
                    </a>
                </li>
                <li *ngFor="let section of sections">
                    <a (click)="navigateTo(section)">
                        {{section}}
                    </a>
                </li>
                <li>
                    <a routerLink="/Biography">
                        Biography
                    </a>
                </li>
                <li *ngIf="!isLoggedin">
                    <a routerLink="/admin">
                        Admin Login
                    </a>
                </li>
                <li *ngIf="!isLoggedin">
                    <a routerLink="/login">
                        Login
                    </a>
                </li>
                <li *ngIf="!isLoggedin">
                    <a routerLink="/register">
                        Register
                    </a>
                </li>
                <li *ngIf="isLoggedin">
                    <a (click)="navigateTo('Profile')">
                        My Profile
                    </a>
                </li>
                <li *ngIf="isLoggedin">
                    <a (click)="logoutConfirm()">
                        Logout
                    </a>
                </li>
            </ul>
            <div class="x-filter" (click)="xClicked()">
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
    <div class="logo-container-top">
        <a href="index.html"><img src="assets/img/logo/whiteLogo.png" alt="Aqura"></a>
    </div>
    
</div> -->
<!-- =============== END TOP HEADER ================ -->
<!-- =============== START BREADCRUMB ================ -->
<!-- <section class="no-mb">
    <div class="row">
        <div class="col-sm-12">
            <div class="before-FullscreenSlider"></div>
            <div class="breadcrumb-fullscreen-parent phone-menu-bg">
                <div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay"
                    style="background-image: url('assets/img/bio.jpg'); min-height: 100vh;"
                    data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
                    <div class="breadTxt">
                        <h1>
                            Wanda Valdis
                        </h1>
                        <p>
                            There's an old saying, 'That what doesn't kill you, makes you stronger' I don't believe
                            that. <br> I think the things that try to kill you make you angry and sad. Strength
                            comes<br> from the good things - your family, your friends,<br> the satisfaction of hard
                            work.
                        </p>
                        <a href="#content" data-easing="easeInOutQuint" data-scroll="" data-speed="900"
                            data-url="false">
                            View More <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- =============== END BREADCRUMB ================ -->
<app-top-header [data]="data"></app-top-header>
<!-- =============== START BIOGRAPHY SECTION ================ -->
<section class="biography padding background-properties"
    id="content">
    <div class="container">
        <div class="sectionTitle paddingBottom">
            <span class="heading-t3"></span>
            <h2><a href="albums.html">Biography</a></h2>
            <span class="heading-b3"></span>
        </div><!-- end sectionTtile -->
        <div class="row" [innerHTML]="data.PersonalInfo">
        </div>
    </div><!-- end container -->
</section>
<!-- =============== END BIOGRAPHY SECTION ================ -->

<app-footer [data]="data.SocialMediaLinks" *ngIf="data.SocialMediaLinks"></app-footer>