<!-- =============== START EVENTS SECTION-1 ================ -->
<section class="background-properties hide-section paddingHomeEvents events">
    <div class="colored-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sectionTitle">
                        <h1>Join Us</h1>
                    </div><!-- end sectionTtile -->
                </div>
            </div>
        </div>
    </div>
    <div class="tableEvents">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <div class="sectionTitle">
                        <h1>Join Us</h1>
                    </div> -->
                    <table>
                        <thead class="tableEventsTitle">
                            <th class="date">Date</th>
                            <th class="venue">Venue</th>
                            <th class="location">Location</th>
                            <th class="tickets"></th>
                        </thead>
                        <tr *ngFor="let e of data">
                            <td class="aqura-date">{{e.Date | date}}</td>
                            <td class="aqura-location">{{e.Venue}}</td>
                            <td class="aqura-city">{{e.Location}}</td>
                            <td class="aqura-tickets">
                                <a class="aqura-tickets-btn" [routerLink]="'/details/single-event/' + e.Id">View
                                    Details</a>
                            </td>
                        </tr>
                    </table>
                </div><!-- end col-sm-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end tableEvents -->
    <!-- <hr style="color: aliceblue;"> -->
    <h2 class="view-all"><a routerLink="/details/Events">View All</a></h2>
    <hr style="color: aliceblue;margin-top: 0;margin-bottom: 0;">
</section>
<!-- =============== END EVENTS SECTION-1 ================ -->