<!-- =============== START EVENTS SECTION-1 ================ -->
<section class="background-properties hide-section paddingHomeEvents events-bg">
    <div class="tableEvents">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sectionTitle paddingBottom">
                        <span class="heading-t3"></span>
                        <h2><a routerLink="/details/Events">Events</a></h2>
                        <span class="heading-b3"></span>
                    </div><!-- end sectionTtile -->
                    <table>
                        <tr class="tableEventsTitle">
                            <th class="date" style="padding-left: 3%;">Date</th>
                            <!-- <th class="tickets">Title</th> -->
                            <th class="venue">Venue</th>
                            <th class="location" style="padding-left: 13%;">Location</th>

                            <th></th>
                        </tr>
                        <tr *ngFor="let e of data">
                            <td class="aqura-date"><a [routerLink]="'/details/single-event/' + e.Id"><i
                                        class="fa fa-plus"></i></a><a href="#">{{e.Date | date}}</a></td>
                            <!-- <td class="aqura-location"><a [routerLink]="'/details/single-event/' + e.Id">{{e.Title}}</a>
                            </td> -->
                            <td class="aqura-city"><a [routerLink]="'/details/single-event/' + e.Id">{{e.Venue}}</a>
                            </td>
                            <td class="aqura-tickets"><a
                                    [routerLink]="'/details/single-event/' + e.Id">{{e.Location}}</a></td>
                            <td class="aqura-vip"><a [routerLink]="'/details/single-event/' + e.Id">RSVP</a></td>
                        </tr>
                    </table>
                </div><!-- end col-sm-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end tableEvents -->
</section>
<!-- =============== END EVENTS SECTION-1 ================ -->