<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;
            <span class="fa fa-arrow-right"></span>&nbsp;&nbsp;&nbsp;
            My Orders
        </div>
    </div>
</section>

<section class="albumSingle padding background-properties">
    <div class="container">
        <!-- <div class="sectionTitle paddingBottom">
            <span class="heading-t3"></span>
            <h2>My Orders</h2>
            <span class="heading-b3"></span>
        </div> -->
        <div class="row">
            <div class="col-sm-12">
                <div class="jp-playlist">
                    <div class="about-list clearfix">
                        <span style="text-align: center;width: 28rem;" class="about-length">Product</span>
                        <span style="text-align: center;width: 28rem;" class="about-length">Price</span>
                        <span style="text-align: center;width: 28rem;" class="about-length">Quantity</span>
                        <span style="text-align: center;width: 28rem;" class="about-length">Date</span>
                    </div>
                    <div *ngFor="let item of data; let i = index">
                        <div class="trak-item">
                            <div class="name-artist" style="width: 28rem;text-align: center;">
                                <div class="center-y-table">
                                    {{item.ProductTitle}}
                                </div>
                            </div>
                            <div class="name-artist" style="width: 28rem;text-align: center;">
                                <div class="center-y-table">
                                    {{item.ProductPrice | currency}}
                                </div>
                            </div>
                            <div class="name-artist" style="width: 28rem;text-align: center;">
                                <div class="center-y-table">
                                    {{item.Quantity}}
                                </div>
                            </div>
                            <div class="name-artist" style="width: 28rem;text-align: center;">
                                <div class="center-y-table">
                                    {{item.Date | date}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end-col-sm-8 -->
        </div><!-- end row -->
        <div class="container" *ngIf="totlaCount > data?.length" style="text-align: center; margin-top: 1%;">
            <button class="btn btn-primary" (click)="loadMore()" style="color: rgb(87, 82, 82);">Load More</button>
        </div>
    </div><!-- end container -->
</section>