<!-- =============== START SHOP SECTION ================ -->
<section id="content">
    <div class="container-fluid">
        <div class="sectionTitle paddingBottom" style="margin-top: 10vh;">
            <span class="heading-t3"></span>
            <h2>Products</h2>
            <span class="heading-b3"></span>
        </div>
        <div class="row" style="padding-bottom:0!important;">
            <div class="col-sm-12">
                <div class="row">
                    <nav class="shop-products">
                        <ul class="clearfix">
                            <li class="col-sm-4 col-xs-12 " style="margin-left:{{offset}}%;"
                            *ngFor="let p of data">
                                <figure>
                                    <figcaption>
                                        <img [src]="baseURL + p.Photo" alt="">
                                    </figcaption>
                                    <div class="content">
                                        <div class="shopHover">
                                            <div class="price">
                                                {{p.Price | currency}}
                                            </div>
                                            <div class="proTitle">
                                                <a [routerLink]="'/details/single-product/' + p.Id">{{p.Title}}</a>
                                            </div>
                                            <!-- <div class="product">Hoodie Aqura</div> -->
                                            <!-- <a [routerLink]="'/details/single-product/' + p.Id" class="icon-button shopIcon"><i class="fa fa-shopping-cart"></i><span></span></a> -->
                                             <a [routerLink]="'/details/single-product/' + p.Id" class="icon-button shopIcon"><i class="fa fa-info"></i><span></span></a>
                                        </div>
                                    </div>
                                </figure>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="totlaCount > data?.length" style="text-align: center; margin-top: 1%;">
            <button class="btn btn-primary" (click)="loadMore()" style="color: rgb(87, 82, 82);">Load More</button>
        </div>
    </div>
</section>

<!-- =============== END SHOP SECTION ================ -->
