<!-- =============== START TOP HEADER ================ -->
<section style="background-color:#eeeeee;">
    <div class="topHeader" style="background-color:#eeeeee;">
        <div class="header">
            <div class="rightTopHeader">
                <div class="cartContainer">
                    <div class="cartParent" id="cartParent">
                        <div class="cartItems">
                            <ul>
                                <li>
                                    <div class="priceCart">
                                        <h4 style="color: black;">Logout, Are You shure?</h4>
                                    </div>
                                </li>
                            </ul>
                            <button type="submit" class="single_add_to_cart_button button alt buttonView"
                                (click)="logout()">
                                Logout
                            </button>
                            <button type="submit" class="single_add_to_cart_button button alt buttonCheck"
                                (click)="cancel()">
                                Cancel
                            </button>
                        </div><!-- end cartItems -->
                    </div>
                </div>
                <!--end cartContainer  -->
                <!-- Open Menu Button -->
                <a #openMenu (click)='menuClicked()' id="open-menu" class="open-menu">
                    <!-- Buttons Bars -->
                    <span class="span-1"></span>
                    <span class="span-2"></span>
                    <span class="span-3"></span>
                </a>
            </div><!-- end rightTopHeader -->
        </div><!-- end header -->
        <!-- Menu Fixed Container -->
        <div #menu class="menu-fixed-container" id="menu-fixed-container">
            <!-- Menu Fixed Centred Container -->
            <nav>
                <!-- Menu Fixed Close Button -->
                <div class="x-filter" (click)="xClicked()">
                    <span></span>
                    <span></span>
                </div>
                <!-- Menu Fixed Primary List -->
                <ul>
                    <!-- Menu Fixed Item -->
                    <li *ngIf="isAdmin">
                        <a routerLink="/dashboard">
                            Admin Dashboard
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home">
                            Home
                        </a>
                    </li>
                    <li *ngFor="let section of sections">
                        <a (click)="navigateTo(section)">
                            {{section}}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/Biography">
                            Biography
                        </a>
                    </li>
                    <li *ngIf="!isLoggedin">
                        <a routerLink="/admin">
                            Admin Login
                        </a>
                    </li>
                    <li *ngIf="!isLoggedin">
                        <a routerLink="/login">
                            Login
                        </a>
                    </li>
                    <li *ngIf="!isLoggedin">
                        <a routerLink="/register">
                            Register
                        </a>
                    </li>
                    <li *ngIf="isLoggedin">
                        <a (click)="navigateTo('Profile')">
                            My Profile
                        </a>
                    </li>
                    <li *ngIf="isLoggedin">
                        <a (click)="logoutConfirm()">
                            Logout
                        </a>
                    </li>
                </ul>
                <!-- Menu Fixed Close Button -->
                <div class="x-filter" (click)="xClicked()">
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div><!-- end menu-fixed-container -->
        <!-- =============== STAR LOGO ================ -->
        <div class="logo-container-top">
            <a href="index.html"><img src="assets/img/logo/whiteLogo.png" alt="Aqura"></a>
        </div><!-- end logo-container-top -->
        <!-- =============== END LOGO ================ -->
    </div>
</section>
<!-- end topHeader -->