<p-toast></p-toast>
<app-top-header *ngIf="headerData.SideMenu" [data]="headerData.SideMenu"></app-top-header>

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <h2>Hey!, You made it</h2>
            <p>Enter your registered email and password or sign in with</p>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-9 col-md-6 form-wrapper">
                <form class="comment-form" (ngSubmit)="login()">
                    <input id="Email" name="Email" type="text" aria-required="true" required
                        placeholder="Email Address *" [(ngModel)]="data.Email" #Email="ngModel" minlength="4">
                    <input id="Passowrd" name="Password" type="password" aria-required="true" required
                        placeholder="Passowrd *" [(ngModel)]="data.Password" #Password="ngModel">
                    <br>
                    <p class="form-submit">
                        <a routerLink="/forget-password" class="forget">Forget password?</a>
                        <br><br>
                        <input name="submit" type="submit" id="submit" value="Sign in" class="btn"><br><br>
                    <p>Don't have an account yet?</p>
                    <p><a routerLink="/register" class="forget">Register Now</a>
                </form>
            </div>
            <div class="col-xs-3 col-md-6 social-wrapper">
                <a (click)="loginWithGoogle()" mat-raised-button class="btn btn-img">
                    <img src="assets/img/google.svg" alt="" style="width: 60px;">
                </a>
                <br>
                <a (click)="loginWithApple()" mat-raised-button class="btn btn-img">
                    <img src="assets/img/apple.svg" alt="" style="width: 60px;">
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer [data]="headerData.SocialMediaLinks" *ngIf="headerData.SocialMediaLinks"></app-footer>

<!-- 
<section class="contactSingle padding background-properties static-image" id="content">
    <div class="container">
        <div class="row" style="min-height: 63vh;">
            <div class="col-sm-4">
                <div class="contactTop">
                    <h2>Welcome To Anas handPan</h2>
                    <h4>Please fill the form</h4>
                    <p>To Login to your account </p>
                    <h5>OR</h5><br>
                    <button (click)="loginWithGoogle()" mat-raised-button class="btn bt-primary google-login-btn">
                        Google
                    </button>
                    <button (click)="loginWithApple()" mat-raised-button class="btn bt-primary apple-login-btn">
                        Apple
                    </button>
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-1">
                <div class="singleBlogForm">
                    <h2>LOG-IN</h2>
                    <br>
                    <br>
                    <form class="comment-form" (ngSubmit)="login()">
                        <input id="Email" name="Email" type="text" aria-required="true" required placeholder="Email *"
                            [(ngModel)]="data.Email" #Email="ngModel" minlength="4">
                        <input id="Passowrd" name="Password" type="password" aria-required="true" required
                            placeholder="Passowrd *" [(ngModel)]="data.Password" #Password="ngModel">
                        <br>
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" value="Submit">
                        </p>
                        <br><br>
                        <a routerLink="/forget-password" style="color: black;">Forget password?</a>
                        <br><br>
                        <a routerLink="/register" style="color: black;">Don't have an account?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->