<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;
            <span class="fa fa-arrow-right"></span>&nbsp;&nbsp;&nbsp;
            Albums
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row" *ngFor="let a of data">
                    <div class="col-xs-4">
                        <div class="proTitle">
                            <h2>{{a.Name}}</h2>
                            <p>{{a.Genre}}/ {{a.ReleaseDate | date}}</p>
                            <a [routerLink]="'/details/single-album/' + a.Id" class="btn">View Details</a>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <img [src]="baseURL + a.Photo" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="totlaCount > data?.length" style="text-align: center; margin-top: 1%;">
        <button class="btn btn-primary" (click)="loadMore()" style="color: rgb(87, 82, 82);">Load More</button>
    </div>
</section>


<!-- 
<section class="padding gallerySection" id="content">
    <div class="container" style="padding:0;">
        <div class="col-sm-12">
            <div class="sectionTitle paddingBottom">
                <span class="heading-t3"></span>
                <h2>Albums</h2>
                <span class="heading-b3"></span>
            </div>
            <div class="content-container clearfix">
                <div class="single-photo-album-container">
                    <div class="row">
                        <article class="col-sm-4" *ngFor="let a of data" style="margin-left:{{offset}}%;">
                            <figure>
                                <figcaption>
                                    <div class="hovereffect">
                                        <img class="img-responsive" [src]="baseURL + a.Photo" alt="">
                                        <div class="overlay">
                                            <a [routerLink]="'/details/single-album/' + a.Id" class="info">{{a.Name}}
                                                <br> {{a.Genre}}/ {{a.ReleaseDate | date}}</a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="totlaCount > data?.length" style="text-align: center; margin-top: 1%;">
        <button class="btn btn-primary" (click)="loadMore()" style="color: rgb(87, 82, 82);">Load More</button>
    </div>
</section> -->