<!-- =============== START FOOTER ================ -->
<section style="background-color:#eeeeee;">
  <div class="footer footerPadding">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="copyFooter">
            <a href="#">&copy; Anas 2021</a>
          </div>
        </div>
        <div class="col-sm-4">
          <nav class="social-icons">
            <ul class="clearfix">
              <li *ngFor="let link of data">
                <a href="{{link.Url}}" class="icon-button shopIcon" target="_blank">
                  <i class="fa fa-{{link.Icon}}"></i><span></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-4">
          <div class="goTop" id="back-to-top">
            <i class="fa fa-angle-up"></i>
            <a (click)="scrollToTop()" style="cursor: pointer;">Go Top</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============== END FOOTER ================ -->
