<!-- =============== START FOOTER ================ -->
<section style="background-color:#eeeeee;">
  <div class="footer footerPadding">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="copyFooter">
            <a href="#">&copy; Aqura 2016</a>
          </div>
        </div>
        <div class="col-sm-4">
          <nav class="social-icons">
            <ul class="clearfix">
              <li><a href="#" class="icon-button shopIcon"><i class="fa fa-twitter"></i><span></span></a></li>
              <li><a href="#" class="icon-button shopIcon"><i class="fa fa-facebook"></i><span></span></a></li>
              <li><a href="#" class="icon-button shopIcon"><i class="fa fa-apple"></i><span></span></a></li>
              <li><a href="#" class="icon-button shopIcon"><i class="fa fa-lastfm"></i><span></span></a></li>
              <li><a href="#" class="icon-button shopIcon"><i class="fa fa-soundcloud"></i><span></span></a></li>
              <li><a href="#" class="icon-button shopIcon"><i class="fa fa-youtube-play"></i><span></span></a></li>
              <li><a href="#" class="icon-button shopIcon"><i class="fa fa-vimeo"></i><span></span></a></li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-4">
          <div class="goTop" id="back-to-top">
            <i class="fa fa-angle-up"></i>
            <a href="#">Go Top</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============== END FOOTER ================ -->