<!-- <app-breadcrumb style="min-height: 100vh;" [title]="data.Name" [bg]="baseURL + data.Photo"
    [description]="data.Description"></app-breadcrumb> -->

<!-- <section class="no-mb">
    <div class="row">
        <div class="col-sm-12">
            <div class="before-FullscreenSlider"></div>
            <div class="breadcrumb-fullscreen-parent phone-menu-bg">
                <div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image: url({{baseURL}}{{data.Photo}});" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- =============== START ALBUM SINGLE ================ -->
<section class="albumSingle padding background-properties"
    style="background-image:url({{baseURL}}{{data.Photo}});background-size: cover;background-size: 100% 100%; min-height: 94vh">
    <div class="container single-album-content">
        <div class="sectionTitle paddingBottom">
            <span class="heading-t3"></span>
            <h2>{{data.Name}}</h2>
            <span class="heading-b3"></span>
        </div><!-- end sectionTtile -->
        <div class="row">
            <div class="col-sm-8">
                <div class="jp-playlist" *ngIf="data.Songs?.length > 0">
                    <div class="about-list clearfix">
                        <span class="about-name" style="color: black;">NAME</span>
                    </div>
                    <div *ngFor="let track of data.Songs; let i = index">
                        <div class="trak-item">
                            <div class="additional-button">
                                <div class="center-y-table">
                                    <!-- <a href="#">
                                        <i class="fa fa-apple"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-soundcloud"></i>
                                    </a> -->
                                </div>
                            </div>
                            <div class="play-pause-button">
                                <div class="center-y-table">
                                    <i class="fa fa-play" (click)="playThis(i)"
                                        *ngIf="trackIndex != i || audioStatus != 'playing' || currSrc !== (baseURL + track.Url)"></i>
                                    <i class="fa fa-pause" *ngIf="trackIndex == i && audioStatus == 'playing' && currSrc == (baseURL + track.Url)"
                                        (click)="pause()"></i>
                                </div>
                            </div>
                            <div class="name-artist">
                                <div class="center-y-table">
                                    <h2 style="color: black;">
                                        {{track.Name}}
                                    </h2>
                                </div>
                            </div>
                            <!-- <time class="trak-duration">
                                {{duration}}
                            </time> -->
                        </div>
                    </div>
                </div>
            </div><!-- end-col-sm-8 -->
            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebarAlbum">
                    <div class="widget">
                        <h3 style="color: black;">Details</h3>
                        <ul>
                            <li style="color: black;">Realease Date:<span style="color: black;">{{data.ReleaseDate | date}} </span></li>
                            <li style="color: black;">Genre:<span style="color: black;">{{data.Genre}} </span></li>
                            <li style="color: black;">Number Of Songs:<span style="color: black;">{{data.Songs?.length}} </span></li>
                        </ul>
                    </div><!-- end widget -->

                    <!-- <div class="widget">
                        <h3>Available On</h3>
                        <section>
                            <ul id='services'>
                                <li>
                                    <a href="#">
                                        <div><i class="fa fa-lastfm"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="fa fa-soundcloud"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="fa fa-apple"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="fa fa-spotify"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div><i class="fa fa-amazon"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div> -->
                </div><!-- end sidebarAlbum -->
            </div><!-- end col-sm-3 col-sm-offset-1 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<!-- <audio preload="auto" crossOrigin="anonymous" #audioElement style="display: hidden;"
    src="{{baseURL + defaultTrack}}"></audio> -->
<!-- =============== END ALBUM SINGLE ================ -->