<section class="main-content">
    <div class="bread-crumb">
        <div class="container">
            <div class="row">
                <a routerLink="/details/Albums">Albums</a>&nbsp;&nbsp;&nbsp;
                <span class="fa fa-arrow-right"></span>&nbsp;&nbsp;&nbsp;
                {{data.Name}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-img col-12">
            <img [src]="baseURL+data.Photo" alt="album main image" style="width: 100%;">
        </div>
        <div class="album-title">
            <h3>{{data.Name}}</h3>
        </div>
        <div class="paragraph">{{data.Description}} </div>
        <div class="realease-date">Realease Date: {{data.ReleaseDate | date}}</div>
        <div class="genre">Genre: {{data.Genre}}</div>

        <div class="songs">
            <div *ngFor="let track of data.Songs; let i = index">
                <div class="trak-item">

                    <div class="name-artist">
                        <div class="center-y-table">
                            <h2>
                                {{track.Name}}
                            </h2>
                        </div>
                    </div>

                    <div class="play-pause-button">
                        <div class="center-y-table">
                            <i class="fa fa-play" (click)="playThis(i)"
                                *ngIf="trackIndex != i || audioStatus != 'playing' || currSrc !== (baseURL + track.Url)"></i>
                            <i class="fa fa-pause"
                                *ngIf="trackIndex == i && audioStatus == 'playing' && currSrc == (baseURL + track.Url)"
                                (click)="pause()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- =============== START ALBUM SINGLE ================ -->
<!-- <div class="single-album-content">

</div>
<section class="albumSingle padding background-properties"
    style="background-image:url({{baseURL}}{{data.Photo}});background-size: cover;background-size: 100% 100%; min-height: 94vh">
    <div class="container">
        <div class="sectionTitle paddingBottom">
            <span class="heading-t3"></span>
            <h2>{{data.Name}}</h2>
            <span class="heading-b3"></span>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="jp-playlist" *ngIf="data.Songs?.length > 0">
                    <div class="about-list clearfix">
                        <span class="about-name" style="color: black;">NAME</span>
                    </div>
                    <div *ngFor="let track of data.Songs; let i = index">
                        <div class="trak-item">
                            <div class="additional-button">
                                <div class="center-y-table">
                                </div>
                            </div>
                            <div class="play-pause-button">
                                <div class="center-y-table">
                                    <i class="fa fa-play" (click)="playThis(i)"
                                        *ngIf="trackIndex != i || audioStatus != 'playing' || currSrc !== (baseURL + track.Url)"></i>
                                    <i class="fa fa-pause" *ngIf="trackIndex == i && audioStatus == 'playing' && currSrc == (baseURL + track.Url)"
                                        (click)="pause()"></i>
                                </div>
                            </div>
                            <div class="name-artist">
                                <div class="center-y-table">
                                    <h2 style="color: black;">
                                        {{track.Name}}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebarAlbum">
                    <div class="widget">
                        <h3 style="color: black;">Details</h3>
                        <ul>
                            <li style="color: black;">Realease Date:<span style="color: black;">{{data.ReleaseDate | date}} </span></li>
                            <li style="color: black;">Genre:<span style="color: black;">{{data.Genre}} </span></li>
                            <li style="color: black;">Number Of Songs:<span style="color: black;">{{data.Songs?.length}} </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <audio preload="auto" crossOrigin="anonymous" #audioElement style="display: hidden;"
    src="{{baseURL + defaultTrack}}"></audio> -->
<!-- =============== END ALBUM SINGLE ================ -->