<!-- =============== START HOME-BLOG SECTION ================ -->
<section class="padding hide-section background-properties blogHomeSection"
    style="background-image: url(assets/img/blog/homeBlog.png);">
    <div class="container">
        <div class="row">
            <div class="sectionTitle paddingBottom">
                <span class="heading-t3"></span>
                <h2><a href="blogGrid.html">News</a></h2>
                <span class="heading-b3"></span>
            </div><!-- end sectionTtile -->
            <div class="col-sm-4" *ngFor="let news of data">
                <div class="blogBox">
                    <div class="imgBox"><img src="assets/img/blog/homeGalPost.png" alt="box-img"></div>
                    <div class="blogBoxContent">
                        <div class="blogHeader">
                            <h1><a href="#">{{news.Title}}</a></h1>
                        </div>
                        <div class="admin-list clearfix">
                            <ul>
                                <li><a href="#">{{news.Date | date}}</a></li>
                                <!-- <li><a href="#">By Admin</a></li> -->
                            </ul>
                        </div><!-- end admin-list -->
                        <div class="blogParagraph">
                            <p>{{news.Brief}}</p>
                        </div>
                        <!--end blogParagraph  -->
                        <div class="rmButton">
                            <a href="#">Read More</a>
                        </div>
                    </div><!-- end blogBoxContent -->
                </div><!-- end blogBox -->
            </div><!-- end col-sm-4 -->
        </div><!-- end container -->
    </div><!-- end row -->
</section>
<!-- =============== END HOME-NLOG SECTION ================ -->