<!-- =============== START HOME-BLOG SECTION ================ -->
<section class="padding hide-section background-properties blogHomeSection news-bg">
    <div class="container">
        <div class="row">
            <div class="sectionTitle paddingBottom">
                <span class="heading-t3"></span>
                <h2><a routerLink="/details/News">News</a></h2>
                <span class="heading-b3"></span>
            </div><!-- end sectionTtile -->
            <div class="col-sm-4 col-xs-12 " [style]="{'margin-left':offset+'%'}"
                 *ngFor="let news of data">
                <div class="blogBox">
                    <div class="imgBox"><img [src]="baseURL + news.Photo" alt="box-img"></div>
                    <div class="blogBoxContent">
                        <div class="blogHeader">
                            <h1><a [routerLink]="'/details/single-news/' + news.Id">{{news.Title}}</a></h1>
                        </div>
                        <div class="admin-list clearfix">
                            <ul>
                                <li><a [routerLink]="'/details/single-news/' + news.Id">{{news.Date | date}}</a></li>
                                <!-- <li><a [routerLink]="'/details/single-news/' + news.Id">By Admin</a></li> -->
                            </ul>
                        </div><!-- end admin-list -->
                        <div class="blogParagraph">
                            <p>
                            {{ (news.Brief.length>100)? (news.Brief | slice:0:100)+'...':(news.Brief) }}</p>
                        </div>
                        <!--end blogParagraph  -->
                        <div class="rmButton">
                            <a [routerLink]="'/details/single-news/' + news.Id">Read More</a>
                        </div>
                    </div><!-- end blogBoxContent -->
                </div><!-- end blogBox -->
            </div><!-- end col-sm-4 -->
        </div><!-- end container -->
    </div><!-- end row -->
</section>
<!-- =============== END HOME-NLOG SECTION ================ -->
