div,
a,
h3 {
  font-family: "Montserrat Alternates", sans-serif;
}

.bread-crumb {
  padding-top: 8%;
  background-color: #1b1d1f;
  padding-bottom: 1.5%;
  color: #ffffff;
  font-size: xx-large;
  font-weight: 600;
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.main-img {
  padding-top: 10%;
}

h3 {
  font-weight: 600;
}

.news-title {
  padding-top: 5%;
  padding-left: 1%;
  padding-bottom: 2%;
}

.news-date {
  padding-left: 1%;
  padding-bottom: 2%;
}

.paragraph {
  padding-left: 1%;
  padding-bottom: 12%;
  line-height: 1.7em;
  font-size: x-large;
  color: #1b1d1f;
}

@media (max-width: 799px) {
  .bread-crumb {
    padding-top: 20%;
    padding-bottom: 2%;
    font-size: medium;
  }
}

@media (max-width: 499px) {
  .bread-crumb {
    padding-top: 25%;
    padding-bottom: 5%;
    font-size: small;
  }
}

.owl-item,
video,
img {
  width: 100% !important;
}

.paragraph {
  text-align: justify;
}

// .main-content {
//   background-color: rgba(255, 255, 255, 0.5);
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

h2,
p {
  color: black !important;
}
