<!-- =============== START EVENTS SECTION-1 ================ -->
<section class="background-properties padding events-bg" style="min-height: 95vh;">
    <div class="tableEvents">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sectionTitle paddingBottom">
                        <span class="heading-t3"></span>
                        <h2>Events</h2>
                        <span class="heading-b3"></span>
                    </div><!-- end sectionTtile -->
                    <table>
                        <tr class="tableEventsTitle">
                            <th class="date">Date</th>
                            <th class="venue">Venue</th>
                            <th class="location">Location</th>
                            <th class="tickets"></th>
                        </tr>
                        <tr *ngFor="let e of data">
                            <td class="aqura-date">{{e.Date | date}}</td>
                            <td class="aqura-location">{{e.Venue}}</td>
                            <td class="aqura-city">{{e.Location}}</td>
                            <td class="aqura-tickets" style="min-width: 150px;"><a [routerLink]="'/details/single-event/' + e.Id">See More</a></td>
                        </tr>
                    </table>
                </div><!-- end col-sm-12 -->
                <div class="container" *ngIf="totlaCount > data?.length" style="text-align: center; margin-top: 1%;">
                    <button class="btn btn-primary" (click)="loadMore()" style="color: rgb(87, 82, 82);">Load More</button>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end tableEvents -->
</section>
<!-- =============== END EVENTS SECTION-1 ================ -->
