<!-- =============== START ALBUM COVER SECTION ================ -->
<section class="padding albumsHome hide-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sectionTitle paddingBottom">
                    <span class="heading-t3"></span>
                    <h2><a routerLink="/details/Albums">Albums</a></h2>
                    <span class="heading-b3"></span>
                </div><!-- end sectionTtile -->
            </div><!-- end col-sm-12 -->
        </div>
        <div class="list-albums">
            <ul class="list-feature col-md-12 col-xs-12 col-sm-12">
                <div class="row justify-content-md-center">
                  <!-- {{data.length>4? '' : 'offset-' + floor(12/data.length/3)}}  -->
                    <li class="col-md-4 "
                      style="margin-left:{{data.length>3? 0 : 25 / data.length}}%;"
                        *ngFor="let album of data; index as i">
                        <div class="album-icon">
                            <span class="thumbs-album">
                                <a [routerLink]="'/details/single-album/' + album.Id"><img width="270" height="270"
                                        [src]="baseURL + album.Thumbnail"
                                        class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
                            </span>
                            <span class="disk" style="background-image: url('{{ baseURL + album.Thumbnail }}');"></span>
                        </div><!-- END ALBUM ICON -->
                        <div class="name">
                            <h3>{{album.Name}}</h3>
                            <p>{{ album.Genre }} - {{ album.ReleaseDate | date }}</p>
                        </div><!-- end name -->
                    </li>
                </div>

            </ul>
        </div><!-- end list-albums -->
    </div><!-- end container -->
</section>
<!-- =============== END ALBUM COVER SECTION ================ -->
