// .container {
// padding-left: 6%;
// padding-right: 6%;
// }
.albumsHome {
  background-color: #1b1d1f !important;
  padding-bottom: 1rem;
}

.sectionTitle {
  text-align: left;
  padding-bottom: 2rem;
  h1 {
    font-weight: 800;
  }
}

.list-albums {
  padding-left: 4%;
}

.thumbs-album {
  width: 600px !important;
  height: 600px !important;
}

.disk {
  width: 500px !important;
  height: 500px !important;
  top: 0 !important;
}

.disk-image {
  overflow: hidden;
  width: 500px !important;
  height: 500px !important;
  z-index: 10;
  border-radius: 50%;
  padding-left: 0%;
  img {
    height: 500px !important;
    width: 500px !important;
    max-width: 500px !important;
  }
}

.album-image {
  overflow: hidden;
  width: 500px !important;
  height: 500px !important;
  z-index: 12;
  padding-left: 0%;
  transform: translateX(-221px);
  -ms-transform: translateX(-221px);
  img {
    height: 500px !important;
    width: 500px !important;
    max-width: 500px !important;
  }
}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
section {
  font-family: "Montserrat Alternates", "Karla", sans-serif !important;
  color: #ffffff !important;
}

// .thumbs-album {
//   // margin-left: -90% !important;
// }

.name {
  transform: translate(40%, -50%);
  -ms-transform: translate(40%, -50%);
  position: absolute;
  top: 60%;
  // background: red;
  z-index: 11;
  height: 500px;
  width: 200px;
  text-align: center;
  h3 {
    font-size: xx-large;
    margin-top: 50%;
  }
  p {
    font-size: large;
  }
  h3,
  p {
    margin-top: 50%;
    text-shadow: #1b1d1f 1px 5px 5px;
  }
}

.view-all {
  padding-right: 2%;
  text-align: right;
  padding-top: 3rem;
  padding-bottom: 3rem;
  a {
    font-weight: 800;
  }
}

.main-content {
  padding-bottom: 3rem;
}

.home-album {
  margin-left: 18rem;
}

@media (max-width: 799px) {
  .name {
    transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
  }
  .album-image {
    display: none;
  }
}

@media (max-width: 499px) {
  .disk-image {
    img {
      height: 44rem !important;
      width: 38rem !important;
    }
    border-radius: 42%;
  }
}
