/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap");

// body {
//   background-color: #1b1d1f !important;
// }

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
section {
  font-family: "Montserrat Alternates", "Karla", sans-serif !important;
}

input[type="text"] {
  text-transform: none !important;
}

input[type="textarea"] {
  text-transform: none !important;
}

input {
  min-width: 265px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.open-menu span {
  background-color: #3b3b3b !important;
}

.imgBox {
  max-height: 270px;
  overflow: hidden;
}

.disk {
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20%;
}

.bio {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 300%;
    font-weight: 600;
  }

  p,
  li {
    font-size: 200%;
    line-height: 1.7em;
    color: #1b1d1f;
    text-align: justify;
  }
}

// hr {
//   margin-top: 0;
//   margin-bottom: 12px;
// }

@media (max-width: 899px) {
  .album-image {
    display: none;
  }
  .home-album {
    margin-left: 12rem !important;
  }
  .next-lesson {
    left: 64% !important;
  }
}

@media (max-width: 799px) {
  .name {
    transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
  }
  .news,
  .products,
  .events {
    padding-top: 0% !important;
    margin-top: -7% !important;
  }
  .home-album {
    margin-left: 12rem !important;
  }
  .album-image {
    display: none;
  }
  .next-lesson {
    left: 50% !important;
  }
}

@media (max-width: 499px) {
  .view-all {
    font-size: small;
  }
  h1 {
    font-size: large;
  }
  h3 {
    font-size: medium;
  }
  .padding {
    padding: 0 !important;
  }
  .news,
  .products,
  .events {
    margin-top: 0 !important;
  }
  .btn-details {
    padding: 1rem 2rem !important;
  }
  td {
    font-size: xx-small !important;
  }
  .home-album {
    margin-left: 0 !important;
  }
  .album-image {
    display: none;
  }

  .bio {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 2rem !important;
      font-weight: 600;
    }

    p,
    li {
      font-size: 1rem !important;
      line-height: 1.7em !important;
      color: #1b1d1f;
      text-align: justify;
    }
  }

  .terms {
    .header {
      padding-top: 10rem !important;
    }
  }
}
