/* You can add global styles to this file, and also import other style files */
input[type=text] {
    text-transform: none !important;
}


input[type=textarea] {
    text-transform: none !important;
}

input{
    min-width: 265px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.static-image {
    background-image: url(assets/img/bg1.jpg);
}

.events-bg {
    background-image: url(assets/img/bg1.jpg);
}

.news-bg {
    background-image: url(assets/img/bg1.jpg);
}


