<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>
<div class="p-grid">
    <div class="p-col-12">
        <p-progressBar mode="indeterminate" [style]="{ height: '5px' }" *ngIf="waiting"></p-progressBar>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="openNew()"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-paginator *ngIf="!waiting" [rows]="params.PageSize" [totalRecords]="totalRecords"
                        [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
                </ng-template>
            </p-toolbar>
        </div>
        <p-table #dt dataKey="Id" [value]="admins" [columns]="cols" styleClass="p-datatable-gridlines"
            [resizableColumns]="true" responsive="true" [scrollable]="true" scrollHeight="400px"
            [reorderableColumns]="true" [loading]="waiting">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col *ngFor="let col of cols">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="p-mb-4">
                    <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()"
                        class="p-ml-6 clearFilter" pTooltip="clearFilter" *ngIf="filtersNo>0"
                        tooltipPosition="bottom"></button>
                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn class="p-text-{{col.align}}"
                        *ngFor="let col of cols">
                        {{col.header}}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                    <th>Action </th>
                </tr>
                <tr>
                    <th pResizableColumn class="autocomplete">
                        <input pInputText type="text" [(ngModel)]="criteria['Username']" [style]="{width:'90%'}"
                            (input)="filterChange($any($event.target).value, 'Username')" class="filterInputCss" />
                    </th>
                    <th>
                        <p-dropdown [options]="roles" [(ngModel)]="criteria['RoleId']" optionValue="Id" appendTo="body"
                            placeholder="Role" optionLabel="Title" [showClear]="true" [filter]="true" filterBy="Title"
                            (onChange)="filterChange($event.value, 'RoleId')" [style]="{width:'100%'}"
                            (onClearClick)="filterChange($$event.value, 'RoleId')">
                        </p-dropdown>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td pReorderableRowHandle *ngFor="let col of cols">
                        {{ col.field != 'Role' ? row[col.field] : '' }}
                        <div *ngIf="!row.isEditable && col.field == 'Role'">
                            {{ row['RoleName'] }}
                        </div>
                        <div *ngIf="row.isEditable && col.field == 'Role'">
                            <p-dropdown [options]="roles" [(ngModel)]="row.RoleId" optionValue="Id" appendTo="body"
                                placeholder="Role" optionLabel="Title" [showClear]="true" [filter]="true"
                                filterBy="Title" (onChange)="roleChangedHandler($event, row)">
                            </p-dropdown>
                        </div>
                    </td>
                    <td>
                        <button type="button" pButton pRipple icon="pi pi-pencil" (click)="editRow(row)"
                            class="p-button-rounded p-button-warning" *ngIf="!row.isEditable" pTooltip="Update"
                            tooltipPosition="bottom"></button> &nbsp;
                        <button type="button" pButton pRipple icon="pi pi-save" (click)="updateAdmin(row)"
                            class="p-button-rounded p-button-warning" *ngIf="row.isEditable" pTooltip="Save"
                            tooltipPosition="bottom"></button> &nbsp;
                        <button type="button" pButton pRipple icon="pi pi-times" (click)="cancel(row)"
                            class="p-button-rounded p-button-warning" *ngIf="row.isEditable" pTooltip="Cancel"
                            tooltipPosition="bottom"></button>
                        <button type="button" pButton pRipple icon="pi pi-trash" (click)="deleteAdmin(row)"
                            class="p-button-rounded p-button-warning" *ngIf="!row.isEditable && row.Id"
                            pTooltip="Delete" tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Add Admin" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Username</label>
            <input type="text" pInputText id="name" [(ngModel)]="admin.Username" required autofocus />
            <small class="p-error" *ngIf="submitted && !admin.Username">Username is required.</small>
        </div>
        <div class="p-field">
            <label for="Password">Password</label>
            <input type="password" pInputText id="Password" [(ngModel)]="admin.Password" required autofocus />
            <small class="p-error" *ngIf="submitted && !admin.Password">Password is required.</small>
        </div>
        <div class="p-field">
            <label for="Role">Role</label>
            <p-dropdown [(ngModel)]="admin.RoleId" inputId="Role" [options]="roles" optionValue="Id" optionLabel="Title"
                [showClear]="true" [filter]="true" filterBy="Title" placeholder="Select Role">
            </p-dropdown>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>