<p-toast></p-toast>
<div class="main-content"></div>
<section
    style="background-image:url({{baseURL}}{{data.Photo}});background-size: cover;background-size: 100% 150%; min-height: 100vh; overflow: hidden;">
    <section>
        <!-- =============== START SHOP-SINGLE SECTION ================ -->
        <section class="paddingShopSingle">
            <div class="container">
                <div class="row">
                    <div class="clothing">
                        <div class="col-sm-7 ">
                            <a [href]="baseURL + data.Photo" class="lightbox">
                                <!-- <img [src]="baseURL + data.Photo" alt=""> -->
                                <video [src]="baseURL + data.Demo" controls style="width: 100%;"></video>
                            </a>
                            <!-- <div class="products">
                        <a *ngFor="let p of data.Photos" [href]="baseURL + p" class="lightbox">
                            <img [src]="baseURL + p" alt="" style="width: 145px;">
                        </a>
                    </div> -->
                        </div><!-- end col-sm-8 -->
                    </div><!-- end clothing -->
                    <div class="col-sm-5">
                        <div class="productDetails">
                            <nav>
                                <a routerLink="/details/Courses">Back to Couses</a>
                                <i class="fa fa-angle-double-right"></i>
                                {{data.Title}}
                            </nav>
                            <h1>{{data.Title}}</h1>
                            <p>{{data.Brief}}</p>
                            <div class="productRating">
                                <p class="price">{{data.Price | currency}}</p>
                            </div><!-- end productRating -->

                            <div class="product-quantity woocommerce cart shop_table">

                                <button class="single_add_to_cart_button button alt buttonTT" (click)="enroll()"
                                    *ngIf="isLoggedIn && role == 'USER' && data.IsEnrolled != 1"
                                    [disabled]="enrollCilcked">
                                    Enroll
                                </button>
                                <p *ngIf="!isLoggedIn || role != 'USER'">
                                    Please <a routerLink="/login">Login</a> to Enroll this Course.</p>
                            </div><!-- end product-quantity -->
                        </div><!-- end productDetails -->
                    </div><!-- end col-sm-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- =============== END SHOP-SINGLE SECTION ================ -->

        <!-- =============== START SHOP TAB ================ -->
        <section>
            <div class="shopTab">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div *ngIf="role === 'USER' && data.IsEnrolled == 1">
                                <div class="col-sm-8 lessons">
                                    <h2>Lessons</h2>
                                    <table class="variations">
                                        <thead>
                                            <th>Title</th>
                                            <th>Photo</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let l of data.Lessons?.List">
                                                <td class="value">
                                                    <a [routerLink]="'/details/single-lesson/' +l.Id">{{l.Title}}</a>
                                                </td>
                                                <td class="value">
                                                    <a [routerLink]="'/details/single-lesson/' +l.Id">
                                                        <img [src]="baseURL + l.Thumbnail" alt="" width="50">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="description">
                                <!-- <div class="app-course-demo">
                                                <img [src]="baseURL + data.Photo" alt="course photo">
                                        </div> -->
                                <span [innerHTML]="data.Description"></span>
                            </div>
                        </div>
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end shopTap -->
        </section>
        <!-- =============== END SHOP TAB ================ -->
    </section>
</section>
