<p-toast></p-toast>
<!-- =============== START SHOP-SINGLE SECTION ================ -->
<section class="paddingShopSingle">
    <div class="container">
        <div class="row">
            <div class="clothing">
                <div class="col-sm-7 ">
                    <a [href]="baseURL + data.Photo" class="lightbox">
                        <img [src]="baseURL + data.Photo" alt="">
                    </a>
                    <div class="products">
                        <a *ngFor="let p of data.Photos" [href]="baseURL + p" class="lightbox">
                            <img [src]="baseURL + p" alt="" style="width: 145px;">
                        </a>
                    </div><!-- end products -->
                </div><!-- end col-sm-8 -->
            </div><!-- end clothing -->
            <div class="col-sm-5">
                <div class="productDetails">
                    <nav>
                        <a routerLink="/details/Products">Back to Shopping</a>
                        <i class="fa fa-angle-double-right"></i>
                        {{data.Title}}
                    </nav>
                    <h1>{{data.Title}}</h1>
                    <div class="productRating">
                        <p class="price">{{data.Price | currency}}</p>
                    </div><!-- end productRating -->
                    <table class="variations" *ngIf="data.AcceptColor == 1">
                        <tbody>
                            <tr>
                                <td class="label"><label for="colors">Colors</label></td>
                                <td class="value">
                                    <select [(ngModel)]="order.Color" id="colors" name="attribute_colors"
                                        data-attribute_name="attribute_colors">
                                        <option value="">Choose an option…</option>
                                        <option style="color: black;" value="Black" class="attached enabled">Black
                                            &nbsp; &#9751;
                                        </option>
                                        <option style="color: yellow;" value="Yellow" class="attached enabled">yellow
                                            &nbsp; &#9751;
                                        </option>
                                        <option style="color: purple;" value="Purple" class="attached enabled">Purple
                                            &nbsp; &#9751;
                                        </option>
                                        <option style="color: green;" value="Green" class="attached enabled">Green
                                            &nbsp; &#9751;
                                        </option>
                                        <option style="color: red;" value="Red" class="attached enabled">Red &nbsp;
                                            &#9751;</option>
                                        <option style="color: blue;" value="Blue" class="attached enabled">Blue &nbsp;
                                            &#9751;</option>
                                        <option style="color: cyan;" value="Cyan" class="attached enabled">Cyan &nbsp;
                                            &#9751;</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="product-quantity woocommerce cart shop_table">
                        <div class="quantity buttons_added" *ngIf="data.AcceptQuantity == 1">
                            <label class="label" for="quantity">Quantity</label>
                            <input [(ngModel)]="order.Quantity" type="number" step="1" min="1" name="quantity" value="1"
                                title="Qty" class="input-text qty text">
                        </div>
                        <button class="single_add_to_cart_button button alt buttonTT" (click)="addOrder()"
                            *ngIf="isLoggedIn && role == 'USER'">
                            Order
                        </button>
                        <p *ngIf="!isLoggedIn || role != 'USER'">
                            Please <a routerLink="/login">Login</a> to Order this item.</p>
                    </div><!-- end product-quantity -->
                </div><!-- end productDetails -->
            </div><!-- end col-sm-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- =============== END SHOP-SINGLE SECTION ================ -->

<!-- =============== START SHOP TAB ================ -->
<section>
    <div class="shopTab">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container" style="padding: 10px;">
                        <h3>Description</h3>
                        <p>{{data.Description}}</p>
                        <br><br>
                    </div>
                    <div class="container" style="padding: 10px;">
                        <h3>Also Available At:</h3>
                        <div class="col-sm-4" *ngFor="let p of data.Places" style="padding: 10px;">
                            <div class="blogBox">
                                <div class="imgBox"><a [href]="p.Location">
                                    <img [src]="baseURL + p.Photo" alt="box-img">
                                </a></div>
                                <div class="blogBoxContent">
                                    <!-- <div class="blogHeader">
                                        <a [href]="p.Location"><h3>{{p.Name}}</h3></a>
                                    </div>
                                    <div class="admin-list clearfix">
                                    </div>-->
                                    <!-- <div class="blogParagraph">
                                        <p>{{p.Location}}</p>
                                    </div> -->
                                    <!--end blogParagraph  -->
                                </div><!-- end blogBoxContent -->
                            </div><!-- end blogBox -->
                        </div><!-- end col-sm-4 -->
                    </div>
                </div><!-- end col-sm-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end shopTap -->
</section>
<!-- =============== END SHOP TAB ================ -->