<section class="contactSingle padding background-properties" id="content"
    style="background-image:url(assets/img/subHeader/header.png);">
    <div class="container">
        <div class="row" style="min-height: 63vh;">
            <div class="col-sm-4">
                <div class="contactTop">
                    <h2>Dashboard</h2>
                    <h4>Please enter Username and Password</h4>
                    <p>To login as Admin
                    </p>
                </div>
            </div><!-- end col-sm-4 -->
            <div class="col-sm-7 col-sm-offset-1">
                <div class="singleBlogForm">
                    <h2>LOG-IN</h2>
                    <form class="comment-form" (ngSubmit)="login()">
                        <input id="Username" name="Username" type="text" aria-required="true" required
                            placeholder="Username *" [(ngModel)]="Username">
                        <input id="lastName" name="passowrd" type="Password" aria-required="true" required
                            placeholder="Passowrd *" [(ngModel)]="Password">
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" value="Submit">
                        </p>
                    </form>
                </div><!-- end contactForm -->
            </div><!-- end col-sm-7 col-sm-offset-1 -->
        </div>
    </div><!-- end container -->
</section>